<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <style type="text/css">
            .bigfont { font-size: 20pt; }
        </style>
    </head>
    <body>
        <center>
            <div class="jumbotron">
                <h1>ABOUT.</h1><br>

                <p>멋쟁이 사자처럼 7기 김준혁이 만든 작품입니다.</p><br>
            
                <p>이번 과제는 단어를 세는 웹을 만드는 것입니다.</p><br>
            
                <a href="{% url 'home' %}" class="bigfont">HOME</a>
            </div>            
        </center>
    </body>
</html>
