<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <style type="text/css">
            .bigfont { font-size: 20pt; }
        </style>
    </head>
    <body>                
    <center>
        <div class="jumbotron">
            <h1>Word Count</h1>
            <a href="{% url 'about' %}" class="bigfont">ABOUT</a>   
            <form action="{% url 'count' %}">
                <textarea cols="60" rows="20" name="fulltext"></textarea><br><br>
                <button type="submit" class="btn btn-primary btn-lg">COUNT</button>
            </form>
        </div>
    </center>
    </body>
</html>